<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Trang dang nhap</title>
    <link rel="icon" type="image/png" href="images/icons/favicon.ico"/>
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="vendor/bootstrap/css/bootstrap.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="fonts/Linearicons-Free-v1.0.0/icon-font.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="vendor/animate/animate.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="vendor/css-hamburgers/hamburgers.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="vendor/animsition/css/animsition.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="vendor/select2/select2.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="vendor/daterangepicker/daterangepicker.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="css/util.css">
    <link rel="stylesheet" type="text/css" href="css/main.css">
</head>
<body>
<div class="limiter">
    <div class="container-login100">
        <div class="wrap-login100 p-l-55 p-r-55 p-t-65 p-b-50">
            <form method="post" class="login100-form validate-form" id="loginForm">
                	<span class="login100-form-title p-b-33">
						Login
					</span>
                <div class="wrap-input100 validate-input">
                    <input class="input100" type="text" name="user" placeholder="username">
                    <span class="focus-input100-1"></span>
                    <span class="focus-input100-2"></span>
                </div>
                <label id="user-error" class="error" for="user"></label>
                <div class="wrap-input100 validate-input">
                    <input class="input100" type="password" name="pass" placeholder="password">
                    <span class="focus-input100-1"></span>
                    <span class="focus-input100-2"></span>
                </div>
                <label id="user-error" class="error" for="pass"></label>
                <div class="container-login100-form-btn m-t-20">
                    <button type="submit" name="Login" class="login100-form-btn">
                        Login
                    </button>
                </div>
                <div class="text-center p-t-45 p-b-4">
						<span class="txt1">
							Forgot Password
						</span>

                    <a href="/forgot" class="txt2 hov1">
                        Reset Password
                    </a>
                </div>

                <div class="text-center">
						<span class="txt1">
							You don't have an account?
						</span>
                    <a href="/register" class="txt2 hov1">
                        Register
                    </a>
                </div>
            </form>

        </div>

    </div>

</div>


<script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/jquery.validate.min.js"></script>
<script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/additional-methods.min.js"></script>
<script>
    // just for the demos, avoids form submit

    $( "#loginForm" ).validate({
        rules: {
            user: {
                required: true,
                rangelength:[8,50]
            },
            pass:{
                required:true,
                rangelength:[4,50]
            }
        },
        messages:{
            user:{
                required:"ban khong duoc de trong",
                rangelength:"tai khoan duoc gioi han 8-50 ky tu"
            },
            pass:{
                required:"mat khau khong duoc de trong",
                rangelength:"mat khau duoc gioi han 4-50 ky tu"
            }
        }
    });
</script>
<script src="vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
<script src="vendor/animsition/js/animsition.min.js"></script>
<!--===============================================================================================-->
<script src="vendor/bootstrap/js/popper.js"></script>
<script src="vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
<script src="vendor/select2/select2.min.js"></script>
<!--===============================================================================================-->
<script src="vendor/daterangepicker/moment.min.js"></script>
<script src="vendor/daterangepicker/daterangepicker.js"></script>
<!--===============================================================================================-->
<script src="vendor/countdowntime/countdowntime.js"></script>
<!--===============================================================================================-->
</body>
</html>